*{
    margin: 0px;
    padding: 0px;
    font-family:  'Lato', sans-serif;;
}

/* this is the place of header css.. */
.container-1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(229, 84, 115, 0.10);
}
.description{
    width: 708px;
}
.heading-1{
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
}
.para-1{
    font-size: 18px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.btn{
    padding: 12px 30px;
    background-color: #E55473;
    border-radius: 8px;
    border: none;
}
.image{
    padding-top: 50px;
    padding-bottom: 0px;
    padding-left: 80px;
}


/* this is the place of main section css... */


.container-2{
    margin: 150px 200px;
}
.description-2{
    text-align: center;
}
.box{
    display: flex;
    /* width: 400px;
    height: 400px; */
    justify-content: space-around;
    align-items: center;
    text-align: center;

}
.box-1{
    width: 400px;
    height: 450px;
    background-color: rgba(167, 33, 98, 0.15);
    padding-bottom: 0px;
    margin: 10px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}
.box-2{
    width: 400px;
    height: 450px;
    background-color: rgba(5, 151, 160, 0.15);
    margin: 10px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}
.box-3{
    width: 400px;
    height: 450px;
    background-color: rgba(71, 125, 17, 0.15);
    margin: 10px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}
.photo{
    width: 200px;
    padding-top: 170px;
}
.list-item{
    display: flex;
    text-decoration: none;
    list-style: none;
    justify-content: space-around;
    

}
/* this is the placemant-3 */

.container-3{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(229, 84, 115, 0.05);
}
.description-3{
    width: 550px;
    text-align: center;
   margin: 80px;
}
.heading-3{
    font-size: 40px;

}
.image-3{
    
}


/* this is the placement-4.. */
.description-4{
    text-align: center;
}
.square{
    display: flex;
    justify-content: space-around;
}
.square-1{
    padding: 10px;
    /* width: 100px; */
}

/* this is the place section-5(extra) */

.image-5{
    width: 400px;
    height: 400px;
}

/* this is the placement-5(background-image)... */

.background-image{
    height: 100vh;
    background-image: url("./flower-shop-assignment-main/Flower Asset/Rectangle 9.png");
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.middle-text{
    text-align: center;
}
/* .para-2{
   padding-top: 15px;
   padding-bottom: 15px;

} */
.input{
    padding: 10px 200px;
    margin-right: 10px;
    border: none;
    border-radius: 4px;
}

/* this is the place of footer.. */

.container-6{
    background-color: black;
    color: beige;
    text-align: center;
    margin: 0px;
    padding-top: 80px;
    padding-bottom: 80px;

}
.span{
    color: #E55473;;
}
.para-last{
    color: rgba(255, 255, 255, 0.40);
    font-size: 10px;
}