*{
    margin: 0px;
    padding: 0px;
}
.container-1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(229, 84, 115, 0.10);
}
.description{
    width: 708px;
}
.heading-1{
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
}
.para-1{
    font-size: 18px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.btn{
    padding: 12px 30px;
    background-color: #E55473;
    border-radius: 8px;
}
.image{
    padding-top: 50px;
    padding-bottom: 0px;
    padding-left: 80px;
}

/* SECTION-2... */

.container-2{
    margin: 150px 200px;
}
.description-2{
    text-align: center;
}
.box{
    display: flex;
    /* width: 400px;
    height: 400px; */
    justify-content: space-around;
    align-items: center;
    text-align: center;

}
.box-1{
    width: 400px;
    height: 450px;
    background-color: rgba(167, 33, 98, 0.15);
    padding-bottom: 0px;
    margin: 10px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}
.box-2{
    width: 400px;
    height: 450px;
    background-color: rgba(5, 151, 160, 0.15);
    margin: 10px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}
.box-3{
    width: 400px;
    height: 450px;
    background-color: rgba(71, 125, 17, 0.15);
    margin: 10px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}
.photo{
    width: 200px;
    padding-top: 170px;
}
.list-item{
    display: flex;
    text-decoration: none;
    list-style: none;
    justify-content: space-around;
}
/* this is section-3... */
.container-3{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(229, 84, 115, 0.05);
}
.description-3{
    width: 550px;
    text-align: center;
   margin: 80px;
}
.heading-3{
    font-size: 40px;

}
.image-3{
    
}
/* this is the section-4.. */
.description-4{
    text-align: center;
}
.square{
    display: flex;
    justify-content: space-around;
}
.square-1{
    padding: 10px;
    /* width: 100px; */
}

/* this is section-5.. */

.background-image{
    height: 100vh;
    background-image: url("../flower-shop-assignment-main/Flower Asset/Rectangle\ 9.png");
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
